@import 'c/zagStyles';

:host {
  font-size: 1rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Visit Documentation to view a list of ::parts */
/* https://zagjs.com/components/react/pagination#styling-guide */

/* Generic Styles (to be overwritten) */
:host::part(prev-toggle),
:host::part(next-toggle),
:host::part(item) {
  padding: 0.5rem;
  border: 1px solid #333;
  margin: 0 0.5rem;
  cursor: pointer;
}

:host::part(item selected) {
  border: 1px solid blue;
}